name: CD

on:
  push:
    branches: [ main ]

jobs:
  ci:
    uses: fga-eps-mds/2022-1-schedula-detalhador-de-chamados/.github/workflows/ci.yml@main

  deploy:
    needs: ci

    name: cd
    runs-on: ubuntu-latest

    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
      -
        name: build-push-action
        uses: docker/build-push-action@v2
        with:
          context: "{{defaultContext}}"
          push: true
          tags: bigode73/detalhador-de-chamados:latest
